body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    margin: 0.5rem;
}

.button {
    background-color: #1a70e0;
    border-radius: 0.5rem;
    border: none;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.6rem;
}

.button:hover {
    background-color: #165bb4
}

.button--new-bookmark {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.button--dialog-cancel {
    background-color: #e01a1a;
}

.button--dialog-cancel:hover {
    background-color: #b41616
}

.bookmark-dialog {
    width: 80vw;
    border-radius: 1rem;
    border: none;
    box-shadow: 5px 10px 18px #888888;
}

.bookmark-dialog__input-section {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
}

.bookmark-dialog__error {
    font-size: 0.8em;
    font-style: italic;
    color: #FF0000;
    margin: 0.5rem 0;
    grid-column-start: 2;
    height: 1em;
}

.bookmark-dialog__button-section {
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.bookmark-dialog__update-header {
    display: none;
}

.button--dialog-update {
    display: none;
}

.bookmark-dialog--update .bookmark-dialog__update-header {
    display: unset;
}

.bookmark-dialog--update .button--dialog-update {
    display: unset;
}

.bookmark-dialog--update .bookmark-dialog__new-header {
    display: none;
}

.bookmark-dialog--update .button--dialog-new {
    display: none;
}

.bookmarks {
    padding: 0;
}

.bookmark {
    list-style: none;
    padding: 0.5rem;
    display: grid;
    grid-template-areas: 
    "title update-button delete-button"
    "url update-button delete-button";
    grid-template-columns: 1fr auto auto;
}

.bookmark:nth-child(odd){
    background-color: #EEEEEE;
}

.bookmark:nth-child(even){
    background-color: #DDDDDD;
}

.bookmark__title {
    color: #000000;
    font-size: 1.2em;
    text-decoration: none;
    grid-area: title;
}

.bookmark__title:hover {
    text-decoration: underline;
}

.bookmark__url {
    color: #888888;
    font-size: 0.8rem;
    margin-bottom: 0;
    grid-area: url;
}

.bookmark__update-button {
    grid-area: update-button;
    border: 0;
    height: fit-content;
    background-color: transparent;
    align-self: center;
    opacity: 0.6;
    font-size: 1.2em;
}

.bookmark__update-button:hover {
    opacity: 1;
    cursor: pointer;
}

.bookmark__delete-button {
    grid-area: delete-button;
    border: 0;
    font-size: 1.2em;
    font-weight: bold;
    height: fit-content;
    align-self: center;
    opacity: 0.6;
    background-color: transparent;
}

.bookmark__delete-button:hover {
    opacity: 1;
    cursor: pointer;
}

.no-bookmarks-error {
    margin-top: 30vh;
    text-align: center;
    font-style: italic;
}

@media (width > 800px) {
    .header, .main {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    .bookmark-dialog {
        max-width: 800px;
    }

    .bookmark {
        margin: 0.5rem 0;
        padding: 1rem;
        border-radius: 1rem;
    }

    .button--new-bookmark {
        right: calc((100vw - 800px) / 2 + 2rem);
    }
}